- character = entry.character
%section.character_info
  %h1= character.name.capitalize
  %h2= character.caption.try(:capitalize)
  =image_tag character.image_url if character.image_url.present?

  %a.punch= link_to "Vote", votes_path(entry_id: entry.id), remote: true, method: :post

  - if character.youtube_url.present?
    %h3= link_to character.youtube_url, character.youtube_url
    .ytapiplayer{id: "ytapiplayer_#{character.id}", data: {youtube_url: character.youtube_url}}

  - if character.twitter_tags.present?
    %h3= character.twitter_tags
    %h3 Tweets
    .twitter_list{data: {twitter_tags: [character.twitter_tags]}}
