- character = rivalry_character.character
%section{class: ["rivalry_character", "rivalry_character_#{rivalry_character.id}"]}
  %h1= character.name.capitalize
  %h2= character.caption.try(:capitalize)
  =image_tag character.image_url if character.image_url.present?

  = link_to "Vote",
    "#",
    class: ['punch', 'rivalry_character_vote'],
    data: {id: rivalry_character.id, enabled: true}

  - if character.youtube_url.present?
    %h3= link_to character.youtube_url, character.youtube_url
    .ytapiplayer{id: "ytapiplayer_#{character.id}", data: {youtube_url: character.youtube_url}}

  - if character.twitter_tags.present?
    %h3= character.twitter_tags
    %h3 Tweets
    .twitter_list{data: {twitter_tags: [character.twitter_tags]}}
