%h1= @character.name.capitalize
%h2= @character.caption.try(:capitalize)
=image_tag @character.image_url if @character.image_url.present?

- if @character.youtube_url.present?
  %h3= link_to @character.youtube_url, @character.youtube_url
  #ytapiplayer

%h3= @character.twitter_tags

:javascript
  $(function() {
    swfobject.embedSWF("#{@character.youtube_url}", 'ytapiplayer', "398", "224", "8", null, null)
  });
